# === Data acquisition and web scraping ===
requests==2.32.3 
beautifulsoup4==4.12.3  
arxiv==2.1.0 

# === NLP processing ===
nltk==3.9.1  
stanza==1.8.2  
conllu==5.0.2 

# === Data analysis and visualization ===
pandas==2.2.2 
matplotlib



# === PDF parsing ===
pdfminer.six==20221105  
